node_modules
public/stamps
dist
action-log
error-log
.vscode/
.idea/
coverage/
.env.dev
.env.prod
storage/evaluations
migrations/
documentation/
migration/
qualweb-errors-*.log
tmux*.log
tsconfig.build.tsbuildinfo
src/launch.json
architecture-graph.svg
swagger-spec.json
.fga.env
